.schedulesList {
    list-style: none;
    padding: 0;
}

.schedulesList > li {
    display: inline;
    margin-right: 1em;
    white-space: nowrap;
}

.schedulesList > li:last-child {
    margin-right: 0;
}